:root {
  --primary-font: "cousine";
}

h1,
p,
.nav-item,
footer {
  font-family: var(--primary-font);
}

h1 {
  font-size: 64px;
  padding-left: 20px;
}

p {
  font-size: 24;
  padding-left: 20px;
}

#title {
  margin-bottom: 0px;
}

img {
  height: 427px;
  width: 614px;
}

.portfolio-hero {
  margin-top: 100px;
}

.projects {
  margin-top: 200px;
  margin-bottom: 50px;
}

.about {
  margin-top: 200px;
}

.contact {
  margin-top: 200px;
}

button {
  background-color: white;
}

a {
  color: black;
}
footer {
  text-align: center;
  padding-bottom: 35px;
  font-size: 12px;
  opacity: 0.8;
}

@media (max-width: 600px) {
  h1 {
    font-size: 1px;
  }

  p {
    font-size: 14px;
  }
}
