:root {
  --primary-font: "cousine";
}

h1,
p,
.nav-item {
  font-family: var(--primary-font);
  margin-left: 30px;
}

h1 {
  font-size: 64px;
}

p {
  font-size: 24;
}

#title {
  margin-bottom: 0px;
}

img {
  height: 427px;
  width: 614px;
  margin-bottom: 100px;
  margin-left: 10px;
}

.portfolio-hero {
  margin-top: 100px;
}

.projects {
  margin-top: 300px;
}

button {
  background-color: white;
}

.about {
  margin-top: 175px;
  margin-right: 500px;
  margin-left: 10px;
}

.p-projects {
  margin-left: 30px;
  margin-top: 95px;
}

.contact {
  margin-top: 175px;
  margin-right: 500px;
  margin-left: 10px;
}

@media (max-width: 600px) {
  p {
    margin-right: -413px;
  }
}

a {
  color: black;
}
