.nav-item {
  font-family: "cousine";
}

h1,
p {
  font-family: "cousine";
}

h1 {
  font-size: 64p;
}

p {
  font-size: 24;
}

#title {
  margin-bottom: 0px;
}

img {
  height: 267px;
  width: 407px;
}

.portfolio-hero {
  margin-top: 100px;
}
